body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'noway', sans-serif;
  letter-spacing: 2.5px;
}

input::placeholder {
  font-family: 'noway', sans-serif;
  letter-spacing: 2.5px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container {
  padding : 25px;
  padding-left: 45px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: peachpuff;
  width: 100%;
  border-radius: 0px;
  /* padding: 15px; */
  padding-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

@font-face {
  font-family: noway;
  src: url(noway-regular-webfont.woff);
}

.tags .tagStyle {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out
}

.tagStyle .tags.focused {
  border-color: peachpuff;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px peachpuff;
}

.tagStyle .tags .tag-item {
  background: peachpuff;
  border: 1px solid peachpuff;
  border-radius: 4px;
  color: #fff;
}

.tagStyle .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.tagStyle .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.logo {
  font-size: 200px;
  font-family: 'noway', sans-serif;
  font-weight: lighter;
  text-align: center;
}

.nav-logo {
  font-size: 100px;
  margin-right: 20px;
}

.nav-link {
  margin-top: 30px;
}

.ingredients {
  margin-left: 35px;
}

a.drink:link {
  color: black;
  text-decoration: none;
  background-color: peachpuff;
  padding: 14px 25px;
  display: inline-block;
  margin: 5px;
}

a.drink:visited {
  color: black;
}

a.drink:hover {
  color: white;
}

.md-button.navBtn {
  color: white;
  font-size: 16px;
  letter-spacing: 2.5px;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: darkgrey;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: darkgray;
}

.image{
  margin-top: 50px;
}

.recipe {
  font-size: 120%;
}

.title {
  font-size: 110%;
  font-weight: bold;
}

.recipeContent {
  margin-left: 20px;
}

.login {
  background-color: peachpuff;
  height: 500px;
  width: 700px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeBtn {
  text-align: center;
}

md-select:not([disabled]):focus .md-select-value{
  border-bottom-color: darkgray;
}

md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder {
  color: darkgray; 
}

.bartBody {
  margin-left: 10px;
}

.inputTitle {
  color: darkgray;
}

md-dialog .md-button {
  color: black;
}
