body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'noway', sans-serif;
  letter-spacing: 2.5px;
}

input::placeholder {
  font-family: 'noway', sans-serif;
  letter-spacing: 2.5px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container {
  padding : 25px;
  padding-left: 45px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: peachpuff;
  width: 100%;
  border-radius: 0px;
  /* padding: 15px; */
  padding-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

@font-face {
  font-family: noway;
  src: url(noway-regular-webfont.woff);
}

.tags .tagStyle {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out
}

.tagStyle .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.tagStyle .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.tagStyle .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.tagStyle .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.logo {
  font-size: 200px;
  font-family: 'noway', sans-serif;
  font-weight: lighter;
}

.nav-logo {
  font-size: 100px;
}

.ingredients {
  margin-left: 35px;
}

a.drink:link {
  color: black;
  text-decoration: none;
  background-color: peachpuff;
  padding: 14px 25px;
  display: inline-block;
  margin: 5px;
}

a.drink:visited {
  color: black;
}

a.drink:hover {
  color: white;
}

.md-button.navBtn {
  color: white;
  font-size: 16px;
  letter-spacing: 2.5px;
}
