<div ng-controller="UserController as vm" ng-include="'views/partials/nav.html'"></div>
<br>
<div class="container">
  <p>
    DRINK NAME: 
    <input type="text" ng-model="vm.newDrink.name">
  </p>
  <p>
    INGREDIENTS: 
      <input type="text" placeholder="INGREDIENT" ng-model="vm.newIngredient.name">
      <input type="text" placeholder="QUANTITY" ng-model="vm.newIngredient.quantity">
      <md-button class="md-raised" ng-click="vm.addIngredient(vm.newIngredient)">+</md-button>
  </p>
  <p ng-repeat="ingredient in vm.newDrink.ingredients">
    {{ingredient.quantity.toUpperCase()}} {{ingredient.name.toUpperCase()}} <md-button class="md-raised" ng-click="removeIngredient">-</md-button>
  </p>
  <p>
    <md-input-container class="md-block" flex-gt-sm>
        <label>GLASS</label>
        <md-select ng-model="vm.newDrink.glass">
          <md-option ng-repeat="glass in vm.glassInputs" ng-value={{glass.glass_id}}>
              {{glass.glass_name.toUpperCase()}}
          </md-option>
        </md-select>
      </md-input-container>
  </p>
  <p>
    ICE:  
    <select ng-model="vm.newDrink.ice">
        <option value="" disabled selected></option>
        <option ng-repeat="ice in vm.iceInputs" ng-value={{ice.ice_id}}>{{ice.ice_name.toUpperCase()}}</option>
    </select>
  </p>
  <p>
    GARNISH: 
    <input type="text" ng-model="vm.newDrink.garnish">
  </p>
  <p>
    NOTES: 
    <input type="text" ng-model="vm.newDrink.notes">
  </p>
  <p>
    SEARCH TAGS
    <tags-input placeholder="+" class="tagStyle" ng-model="vm.newDrink.tags"></tags-input>
  </p>
  <md-button class="md-raised" ng-click="vm.saveDrink()">SAVE DRINK</md-button>
  <br>
  <br>
</div>
