<div ng-controller="UserController as vm" ng-include="'views/partials/nav.html'"></div>
<br>
<div class="container">
  <md-input-container md-no-float class="md-block title">
    <input ng-model="vm.newDrink.name" placeholder="DRINK NAME *">
  </md-input-container>
  INGREDIENTS * 
    <input type="text" placeholder="QUANTITY" ng-model="vm.newIngredient.quantity">
    <input type="text" placeholder="INGREDIENT" ng-model="vm.newIngredient.name">
    <md-button class="md-raised" ng-click="vm.addIngredient(vm.newIngredient)">+</md-button>
  <p class="ingredients" ng-repeat="ingredient in vm.newDrink.ingredients">
    {{ingredient.quantity.toUpperCase()}} {{ingredient.name.toUpperCase()}} <md-button class="md-raised" ng-click="vm.removeIngredient(ingredient)">-</md-button>
  </p>
  <p>
    <md-input-container class="md-block" flex-gt-sm>
        <label>GLASS *</label>
        <md-select ng-model="vm.newDrink.glass">
          <md-option ng-repeat="glass in vm.glassInputs" ng-value={{glass.glass_id}}>
              {{glass.glass_name.toUpperCase()}}
          </md-option>
        </md-select>
      </md-input-container>
  </p>
  <p>
    <md-input-container class="md-block" flex-gt-sm>
        <label>ICE *</label>
        <md-select ng-model="vm.newDrink.ice">
          <md-option ng-repeat="ice in vm.iceInputs" ng-value={{ice.ice_id}}>
              {{ice.ice_name.toUpperCase()}}
          </md-option>
        </md-select>
      </md-input-container>
  </p>
  <p>
    <md-input-container class="md-block" flex-gt-sm>
        <label>GARNISH</label>
        <input ng-model="vm.newDrink.garnish">
    </md-input-container>
  </p>
  <p>
    <md-input-container class="md-block" flex-gt-sm>
        <label>NOTES</label>
        <input ng-model="vm.newDrink.notes">
    </md-input-container>
  </p>
  <p>
    SEARCH TAGS
    <tags-input placeholder="+" class="tagStyle" ng-model="vm.newDrink.tags"></tags-input>
  </p>
  <md-button class="md-raised" ng-click="vm.saveDrink()">SAVE DRINK</md-button>
  <br>
  <br>
</div>
