<div ng-include="'views/partials/nav.html'"></div>
<div ng-controller="DrinkController as vm" class="container bartBody">
    <div layout="row" ng-hide="vm.editing==true">
        <div flex class="recipe">
            <h2>{{vm.drinkRecipe.recipe_name.toUpperCase()}}</h2>
            <div class="recipeContent">
                <div ng-repeat="ingredient in vm.drinkIngredients">
                    {{ingredient.quantity.toUpperCase()}} {{ingredient.name.toUpperCase()}}
                </div>
                <p><span class="title">GLASS :</span> &nbsp{{vm.drinkRecipe.glass_name.toUpperCase()}}</p>
                <p><span class="title">ICE :</span>  &nbsp{{vm.drinkRecipe.ice_name.toUpperCase()}}</p>
                <p ng-if="vm.drinkRecipe.garnish.length > 0"><span class="title">GARNISH :</span> &nbsp{{vm.drinkRecipe.garnish.toUpperCase()}}</p>
                <p ng-if="vm.drinkRecipe.notes.length > 0"><span class="title">NOTES :</span> &nbsp{{vm.drinkRecipe.notes.toUpperCase()}}</p>
                <br>
                <md-button class="md-raised" ng-click="vm.editing=true">EDIT</md-button>
                <md-button class="md-raised" ng-click="vm.confirmDelete(vm.drinkRecipe.recipe_id)">DELETE</md-button>
            </div>
        </div>
        <div flex class="image">
            <img src="styles/glasses/coffee.png" width="60%" ng-if="vm.drinkRecipe.glass_name == 'coffee'">
            <img src="styles/glasses/collins.png" width="55%" ng-if="vm.drinkRecipe.glass_name == 'collins'">
            <img src="styles/glasses/coupe.png" width="75%" ng-if="vm.drinkRecipe.glass_name == 'coupe'">
            <img src="styles/glasses/flute.png" height="85%" ng-if="vm.drinkRecipe.glass_name == 'flute'">
            <img src="styles/glasses/highball.png" width="45%" ng-if="vm.drinkRecipe.glass_name == 'highball'">
            <img src="styles/glasses/martini.png" width="75%" ng-if="vm.drinkRecipe.glass_name == 'martini'">
            <img src="styles/glasses/mug.png" width="50%" ng-if="vm.drinkRecipe.glass_name == 'copper mug'">
            <img src="styles/glasses/nick.png" width="55%" ng-if="vm.drinkRecipe.glass_name == 'nick and nora'">
            <img src="styles/glasses/punch.png" width="85%" ng-if="vm.drinkRecipe.glass_name == 'punch'">
            <img src="styles/glasses/rocks.png" width="65%" ng-if="vm.drinkRecipe.glass_name == 'rocks'">
            <img src="styles/glasses/shot.png" width="55%" ng-if="vm.drinkRecipe.glass_name == 'shot'">
            <img src="styles/glasses/snifter.png" width="70%" ng-if="vm.drinkRecipe.glass_name == 'snifter'">
        </div>
    </div>
    <div ng-show="vm.editing==true">
        <md-input-container md-no-float class="md-block title">
            <input ng-model="vm.drinkRecipe.recipe_name" placeholder="DRINK NAME">
        </md-input-container>
        <p>
            <span class="inputTitle">INGREDIENTS * </span>
                <input type="text" placeholder="QUANTITY" ng-model="vm.newIngredient.quantity">
                <input type="text" placeholder="INGREDIENT" ng-model="vm.newIngredient.name">
                <md-button class="md-raised" ng-click="vm.addIngredientEdit(vm.newIngredient)">+</md-button>
        </p>
        <p class="ingredients" ng-repeat="ingredient in vm.drinkIngredients">
            {{ingredient.quantity.toUpperCase()}} {{ingredient.name.toUpperCase()}} <md-button class="md-raised" ng-click="vm.removeIngredient($index)">-</md-button>
        </p>
        <br>
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>GLASS *</label>
                <md-select ng-model="vm.editedRecipe.glass_id">
                    <md-option ng-repeat="glass in vm.glassInputs" ng-value={{glass.glass_id}} ng-selected="vm.drinkRecipe.glass_id == glass.glass_id">
                        {{glass.glass_name.toUpperCase()}}
                    </md-option>
                </md-select>
            </md-input-container>
        </p>
        <br>
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>ICE *</label>
                <md-select ng-model="vm.editedRecipe.ice_id">
                    <md-option ng-repeat="ice in vm.iceInputs" ng-value={{ice.ice_id}} ng-selected="vm.drinkRecipe.ice_id == ice.ice_id">
                        {{ice.ice_name.toUpperCase()}}
                    </md-option>
                </md-select>
            </md-input-container>
        </p>
        <br>
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>GARNISH</label>
                <input ng-model="vm.drinkRecipe.garnish">
            </md-input-container>
        </p>    
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>NOTES</label>
                <input ng-model="vm.drinkRecipe.notes">
            </md-input-container>
        </p>
        <p>
            <span class="inputTitle">SEARCH TAGS: </span>
            <tags-input class="tagStyle" placeholder="+" ng-model="vm.drinkRecipe.tags"></tags-input>
        </p>
        <br>
        <md-button class="md-raised" ng-click="vm.getDrinkRecipe(vm.drinkRecipe.recipe_id); vm.editing=false">CANCEL</md-button> 
        <md-button class="md-raised" ng-click="vm.formatEditedDrink()">SAVE CHANGES</md-button> 
        <md-button class="md-raised" ng-click="vm.confirmDelete(vm.drinkRecipe.recipe_id, $event)">DELETE</md-button>
    </div>    
</div>