<div ng-include="'views/partials/nav.html'"></div>
<div ng-controller="DrinkController as vm" class="container">
    <div ng-hide="vm.editing==true">
        <div class="image">
            <div class="collins" ng-if="vm.drinkRecipe.glass_name == 'collins'"></div>
            <div class="punch" ng-if="vm.drinkRecipe.glass_name == 'punch'"></div>
            <div class="rocks" ng-if="vm.drinkRecipe.glass_name == 'rocks' || vm.drinkRecipe.glass_name == 'shot'"></div>
            <div class="highball" ng-if="vm.drinkRecipe.glass_name == 'highball'"></div>
            <div class="martini" ng-if="vm.drinkRecipe.glass_name == 'martini'">
                <div class="martiniCup"></div>
                <div class="stem"></div>
                <div class="base"></div>
            </div>
            <div class="cordial" ng-if="vm.drinkRecipe.glass_name == 'coupe'">
                <div class="cordialCup"></div>
                <div class="stem"></div>
                <div class="base"></div>
            </div>
            <div class="flute" ng-if="vm.drinkRecipe.glass_name == 'cordial'">
            </div>
        </div>
        <div class="recipe">
            <h2>{{vm.drinkRecipe.recipe_name.toUpperCase()}}</h2>
            <div ng-repeat="ingredient in vm.drinkIngredients">
                {{ingredient.quantity.toUpperCase()}} {{ingredient.name.toUpperCase()}}
            </div>
            <p>GLASS: {{vm.drinkRecipe.glass_name.toUpperCase()}}</p>
            <p>ICE: {{vm.drinkRecipe.ice_name.toUpperCase()}}</p>
            <p ng-if="vm.drinkRecipe.garnish.length > 0">GARNISH: {{vm.drinkRecipe.garnish.toUpperCase()}}</p>
            <p ng-if="vm.drinkRecipe.notes.length > 0">NOTES: {{vm.drinkRecipe.notes.toUpperCase()}}</p>
            <md-button class="md-raised" ng-click="vm.editing=true">EDIT DRINK</md-button>
            <md-button class="md-raised" ng-click="vm.confirmDelete(vm.drinkRecipe.recipe_id)">DELETE DRINK</md-button>
        </div>
    </div>
    <div ng-show="vm.editing==true">
        <md-input-container md-no-float class="md-block title">
            <input ng-model="vm.drinkRecipe.recipe_name" placeholder="DRINK NAME">
        </md-input-container>
        <p>
            INGREDIENTS * 
                <input type="text" placeholder="QUANTITY" ng-model="vm.newIngredient.quantity">
                <input type="text" placeholder="INGREDIENT" ng-model="vm.newIngredient.name">
                <md-button class="md-raised" ng-click="vm.addIngredientEdit(vm.newIngredient)">+</md-button>
        </p>
        <p class="ingredients" ng-repeat="ingredient in vm.drinkIngredients">
            {{ingredient.quantity.toUpperCase()}} {{ingredient.name.toUpperCase()}} <md-button class="md-raised" ng-click="vm.removeIngredient(ingredient)">-</md-button>
        </p>
        <br>
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>GLASS *</label>
                <md-select ng-model="vm.editedRecipe.glass_id">
                    <md-option ng-repeat="glass in vm.glassInputs" ng-value={{glass.glass_id}} ng-selected="vm.drinkRecipe.glass_id == glass.glass_id">
                        {{glass.glass_name.toUpperCase()}}
                    </md-option>
                </md-select>
            </md-input-container>
        </p>
        <br>
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>ICE *</label>
                <md-select ng-model="vm.editedRecipe.ice_id">
                    <md-option ng-repeat="ice in vm.iceInputs" ng-value={{ice.ice_id}} ng-selected="vm.drinkRecipe.ice_id == ice.ice_id">
                        {{ice.ice_name.toUpperCase()}}
                    </md-option>
                </md-select>
            </md-input-container>
        </p>
        <br>
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>GARNISH</label>
                <input ng-model="vm.drinkRecipe.garnish">
            </md-input-container>
        </p>    
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>NOTES</label>
                <input ng-model="vm.drinkRecipe.notes">
            </md-input-container>
        </p>
        <p>
            SEARCH TAGS: 
            <tags-input placeholder="+" ng-model="vm.drinkRecipe.tags"></tags-input>
        </p>
        <md-button class="md-raised" ng-click="vm.getDrinkRecipe(vm.drinkRecipe.recipe_id); vm.editing=false">CANCEL</md-button> 
        <md-button class="md-raised" ng-click="vm.formatEditedDrink()">SAVE CHANGES</md-button> 
        <md-button class="md-raised" ng-click="vm.confirmDelete(vm.drinkRecipe.recipe_id, $event)">DELETE DRINK</md-button>
    </div>    
</div>