<div ng-include="'views/partials/nav.html'"></div>
<div ng-controller="DrinkController as vm" class="container">
    <div ng-hide="editing==true">
         <h2>{{vm.drinkRecipe.recipe_name.toUpperCase()}}</h2>
        <div ng-repeat="ingredient in vm.drinkIngredients">
            {{ingredient.quantity.toUpperCase()}} {{ingredient.name.toUpperCase()}}
        </div>
        <p>GLASS: {{vm.drinkRecipe.glass_name.toUpperCase()}}</p>
        <p>ICE: {{vm.drinkRecipe.ice_name.toUpperCase()}}</p>
        <p>GARNISH: {{vm.drinkRecipe.garnish.toUpperCase()}}</p>
        <md-button class="md-raised" ng-click="editing=true">EDIT DRINK</md-button>
        <md-button class="md-raised" ng-click="vm.confirmDelete(vm.drinkRecipe.recipe_id)">DELETE DRINK</md-button>
    </div>
    <div ng-show="editing==true" class="container">
        <md-input-container md-no-float class="md-block title">
            <input ng-model="vm.drinkRecipe.recipe_name" placeholder="DRINK NAME">
        </md-input-container>
        <p>
            INGREDIENTS: 
                <input type="text" placeholder="INGREDIENT" ng-model="vm.newIngredient.name">
                <input type="text" placeholder="QUANTITY" ng-model="vm.newIngredient.quantity">
                <md-button class="md-raised" ng-click="vm.addIngredientEdit(vm.newIngredient)">+</md-button>
        </p>
        <p ng-repeat="ingredient in vm.drinkIngredients">
            {{ingredient.quantity.toUpperCase()}} {{ingredient.name.toUpperCase()}} <md-button class="md-raised" ng-click="vm.removeIngredient(ingredient)">-</md-button>
        </p>
        <br>
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>GLASS</label>
                <md-select ng-model="vm.drinkRecipe.glass_name">
                    <md-option ng-repeat="glass in vm.glassInputs" ng-value={{glass.glass_id}} ng-selected="vm.drinkRecipe.glass_id == glass.glass_id">
                        {{glass.glass_name.toUpperCase()}}
                    </md-option>
                </md-select>
            </md-input-container>
        </p>
        <br>
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>ICE</label>
                <md-select ng-model="vm.drinkRecipe.ice_name">
                    <md-option ng-repeat="ice in vm.iceInputs" ng-value={{ice.ice_id}} ng-selected="vm.drinkRecipe.ice_id == ice.ice_id">
                        {{ice.ice_name.toUpperCase()}}
                    </md-option>
                </md-select>
            </md-input-container>
        </p>
        <br>
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>GARNISH</label>
                <input ng-model="vm.drinkRecipe.garnish">
            </md-input-container>
        </p>    
        <p>
            <md-input-container class="md-block" flex-gt-sm>
                <label>NOTES</label>
                <input ng-model="vm.drinkRecipe.notes">
            </md-input-container>
        </p>
        <p>
            SEARCH TAGS: 
            <tags-input placeholder="+" ng-model="vm.drinkRecipe.tags"></tags-input>
        </p>
        <md-button class="md-raised" ng-click="vm.getDrinkRecipe(vm.drinkRecipe.recipe_id); editing=false">CANCEL</md-button> 
        <md-button class="md-raised">SAVE CHANGES</md-button> 
        <md-button class="md-raised" ng-click="vm.confirmDelete(vm.drinkRecipe.recipe_id, $event)">DELETE DRINK</md-button>
    </div>    
</div>