<div class="container">
<h1>BART</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
    <form ng-submit="vm.login()">
      <div>
          <label for="username">USERNAME:</label>
          <input type="text" ng-model="vm.user.username" />
      </div>
      <div>
          <label for="password">PASSWORD:</label>
          <input type="password" ng-model="vm.user.password" />
      </div>
      <div>
          <input class="btn btn-default" type="submit" name="submit" value="Log In" />
          <a href="#!register">REGISTER</a>
      </div>
    </form>
</div>
